@import "tailwindcss";

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 9999px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
}